---
const images = [
  {
    src: "https://www.turismodeobservacion.com/media/fotografias/paisaje-de-leon-29741-xl.jpg",
    alt: "Paisaje de Leon",
    copyright: "© 2024 Turismo de Observacion.",
  },
  {
    src: "https://www.soydemadrid.com/images/thumbs/el-paisaje-de-la-luzun-ano-de-patrimonio-mundial-0093059_1200.jpeg",
    alt: "Paisaje de Madrid",
    copyright: "© 2024 Soy de Madrid."
  },
  {
    src: "https://madridarteycultura.es/wp-content/uploads/estacion-chamartin-madrid.jpg",
    alt: "Estacion de Chamartin, Madrid.",
    copyright: "© 2024 Madrid Arte y Cultura."
  },
  {
    src: "https://fluge.es/wp-content/uploads/2022/12/Amazon-Gamergy-2022-el-encuentro-%E2%80%98gamer-mas-importante-de-Espana-1.jpg.jpg",
    alt: "Gamergy 2022",
    copyright: "© 2024 Fluge."
  },
  {
    src: "https://www.elperiodic.com/archivos/imagenes/noticias/2021/09/02/valencia-21-fallas-planta-018.JPG",
    alt: "Fallas de Valencia en 2021",
    copyright: "© 2024 El Periodic."
  }
];
---

<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {images.map((image) => (
      <div 
        class="gallery-item group relative overflow-hidden rounded-lg shadow-lg shadow-white/10 transition-all duration-300 hover:shadow-xl cursor-pointer"
        data-src={image.src}
        data-alt={image.alt}
        data-copyright={image.copyright}
      >
        <img
          src={image.src}
          alt={image.alt}
          class="h-72 w-full object-cover transition-transform duration-300 group-hover:scale-105"
        />
        <div class="absolute inset-0 bg-black bg-opacity-0 transition-all duration-300 group-hover:bg-opacity-30">
          <div class="absolute bottom-4 left-4 transform opacity-0 transition-all duration-300 group-hover:opacity-100">
            <p class="text-white text-lg font-medium">{image.alt}</p>
          </div>
        </div>
      </div>

    <div id="fullscreenModal" class="fixed inset-0 bg-black bg-opacity-90 opacity-0 pointer-events-none z-50 flex items-center justify-center transition-opacity duration-300 ease-in-out">
        <div>
          <img id="fullscreenImage" class="max-h-[80vh] max-w-[80vw] object-contain rounded-lg transform scale-95 transition-transform duration-300 ease-in-out shadow-xl shadow-white/10" src="" alt="" />
          <h4 id="copyrightmodal" class="text-white text-lg font-semibold text-center mt-10"></h4>
        </div>
        <button 
          id="closeButton"
          class="absolute top-4 right-4 text-white text-4xl font-bold hover:text-gray-300 transition-colors duration-200"
        >
          ×
        </button>
      </div>

    ))}
  </div>
</div>


<script>
  import "../scripts/gallery.js";
</script>